<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errorMessage.ejs') %>
    <h2>Edit Job</h2>
    <form action="/jobs/<%= job.id %>?_method=PUT" method="POST">
        <%- include('form_fields') %>
        <a href="/jobs/<%= job.id %>">Cancel</a>
        <button type="submit">Update</button>
    </form>
</body>
</html>